body{
    background: #181818;
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Nothing You Could Do', cursive;
}

a{
    text-decoration: none;
}

.content_middle{
    width:85%;
}

.content_left{
    width: 15%;
    height: 100vh;
    font-size: 1.0em;
    line-height: 1.42857143;
    color: #333;
    background-color: #181818;
}
.content{
    display: flex;
    flex-flow: row wrap;
}

.navigation__list__header__title{
    margin-top: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1em;
}

.navigation__list__item:hover{
    color: #ffffff;
}
.navigation__list__item{
    color: #aaaaaa;
    padding: 3px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left:5px;
    font-size: 0.9em;
}
.navigation__list__header{

    text-transform: uppercase;
    font-size: 0.85em;
    padding-bottom: 7px;

}

i{
    margin-right: 7px;
}
path{
    fill: #aaaaaa;
}

.navigation{
    color: #aaaaaa;
    padding-left:15px;
}


/* -- RIFF -- */
.riff-head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    margin: 0;
    padding: 40px 50px;
    background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(0,0,0,0) 100%), url("../img/riff-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.riff-head h1{
    font-family: 'Nothing You Could Do', cursive;
}

.riff-image-tiles{
    margin-right: 40px;
}

.riff-image-tiles img{
    height: 50%;
    width: 50%;
}

.riff-head h1{
    color: white;
    font-size: 2.5em;
}
.riff-head h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7em;
    padding-bottom: 5px;
}

.riff-head-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.riff-body{
    padding: 0 50px;
}

.riff-image-tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
}

.riff-table{
    width: 100%;
    color: white;
    border-collapse: collapse;
}

.riff-table thead tr th{
    height: 50px;
}
.riff-table th{
    font-family: 'Nothing You Could Do', cursive;
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
    color: #cbcbcb;
    font-size: 0.7vw;
}
.riff-table tbody tr{
    border-top: solid 0.5px #7a7a7a;
}
.riff-table tbody td{
    padding: 15px 25px 15px 0px;
}
.riff-table tbody td a{
    color: white;
    text-decoration: none;
}
.riff-table tbody td p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.riff-table-play{
    text-align: left;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: translateX(-5px);
}


tbody tr:hover .riff-table-play{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    transform: translateX(0);
}

.riff-table tbody tr{
    height: 40px;
}

.riff-table .playsong{
    color: white;
    background-color: unset;
    outline: none;
    border: none;
}

.riff-table .playsong:hover{
    cursor: pointer;
}


/*--- CATEGORIES ---*/

.categories-head{
    padding: 50px;
}
.categories-head h1{
    font-size: 2.5em;
    margin: 0;
    color: white;
}

.categories-category-section{
    padding: 0 50px 50px 50px;
}
.categories-category-section h2{
    color: white;
    font-size: 2em;
    font-family: 'Nothing You Could Do', cursive;
}


.btn-accent {
    margin-left: 15px;
    border-radius: 28px;
    font-family: "Roboto", sans-serif;
    outline: none;
    border:none;
    color: #ffffff;
    font-size: 13px;
    background: #ff8324;
    padding: 8px 15px 8px 15px;
    text-decoration: none;

}


.btn-accent-outlined {
    margin-left: 15px;
    border-radius: 28px;
    font-family: "Roboto", sans-serif;
    outline:#ff8324;
    border:none;
    color: #ff8324;
    font-size: 13px;
    background: #ffffff;
    padding: 8px 15px 8px 15px;
    text-decoration: none;

}


.categories-tiles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categories-tile{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}
.categories-tile p{
    color: white;
    font-size: 1.6em;
    text-align: center;
    padding: 20px;
    line-height: 35px;
    z-index: 100;
}
.categories-tile .filter{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.categories-tile:hover .filter{
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
}
