body{background: #181818; font-family: "Roboto", sans-serif;}
.content_middle{ width:80%;}
.content_left{ width: 20%; height: 100%; font-size: 14px; line-height: 1.42857143; color: #333;}
.content{display: flex;flex-flow: row wrap;}

/* -- RIFF -- */
.riff-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 20px 50px;
    background: linear-gradient(180deg, rgba(61,61,61,1) 0%, rgba(0,0,0,0) 100%);
}
.riff-head h1{
    color: white;
    font-size: 2.5em;
}
.riff-head h2{
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7em;
    padding-bottom: 5px;
}

.riff-image-tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
}

.riff-table{
    width: 100%;
    color: white;
}

.riff-table thead tr th{
    height: 50px;
}
.riff-table th{
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
    color: #cbcbcb;
    font-size: 0.7em;
}

.riff-table-play{
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    transform: translateX(-5px);
}

tbody tr:hover .riff-table-play{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    transform: translateX(0);
}

.riff-table tbody tr{
    height: 40px;
}

.riff-table .playsong{
    color: white;
    background-color: unset;
    outline: none;
    border: none;
}

.riff-image-tiles img{
    height: 50%;
    width: 50%;
}


