*{
    margin:0;
    padding:0;
}
#playground{
    padding: 5px ;
    max-width:90vw;
    max-height:90vh;
    overflow-y:scroll;
    overflow-x: scroll;
    margin-left : 50px;
    margin-right: 50px;
    background: #1b1b28;
    flex-direction: column;
}
#toolcontainer{
    display: flex;
    justify-content: space-between;
    max-width:90vw;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;

}
button{
    margin-left: 5px;
    padding: 2px;
    font-size: large;
}

.note-container{

    min-width:90vw;
    white-space: nowrap;
    display:inline-flex;

    font-size: 0 ;
}
.timeItem{
    background: #151d32;
    width:9px;
    height:14px;
}
.noire{
    border-left: solid #344254 1px;
    box-sizing: border-box;

}
#indexes{
    min-width:90vw;
    white-space: nowrap;
    background: #151d32;
    display:inline-flex;
    border-bottom: #344254 solid 1px ;
    box-sizing: border-box;
}

.noteItem{
    background: #151d32;
    color: #ECA1BD;
    border-bottom: #344254 solid 1px;
    box-sizing: border-box;
    width: 40px;
    font-size: 13px;
    height: 14px;
    padding-left: 3px;
}

.indexItem{
    color: #ECA1BD;
    width:9px;
    font-size: 14px;
    height:17px;
    overflow:visible;
}

.played{
    background: #9CC7F7 !important;
}

.selected{
    background: dimgray;
}

.off{
    background: dimgray;
}

.tileNoire{
    background: #0e1321;
}
.firstTableItem{
    background: #0e1321;
    color: #ffffff;
    width:40px;
    font-size: 14px;
    height:12px;
}
 .tileNoire.endnote{
    border-right: solid 3px #0e1321 !important;
    box-sizing: border-box;
}
.timeItem.endnote{
    border-right: solid 3px #1b1b28;
    box-sizing: border-box;
}
.invisible-button{
    display:none;
}

#play-loop {
    display: inline-block;
    padding: 5px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#play-loop.on{
    background-color: #ECA1BD;
    color: #1b1b28;
}
#play-loop.off{
    background-color: #1b1b28;
    color:#ECA1BD;
}


.buttons {background-image: linear-gradient(to right, #ECA1BD 0%, #abcce7 51%, #9CC7F7 100%)}
.buttons {
    margin: 2px;
    width:45px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #1b1b28 ;
    font-size: 20px;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

}

.buttons.selected{
    background-image: linear-gradient(to right, #9CC7F7 100%, #9CC7F7 100%, #9CC7F7 100%) !important
}
.buttons:hover {
    background-position: right center; /* change the direction of the change here */
    color: black;
    text-decoration: none;
}


.play-button {
    width: 0;
    height: 0;
    background-color: #0e1321;
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;
}
