<!DOCTYPE html>
<html>
    <head>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/global.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        </head>
    <body>

    <header>
{#        <div class="user__info">#}

{#      <span class="user__info__img">#}

{#        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/adam_proPic.jpg" alt="Profile Picture" class="img-responsive">#}

{#      </span>#}

{#            <span class="user__info__name">#}

{#        <span class="first">Adam</span>#}

{#        <span class="last">Lowenthal</span>#}

{#      </span>#}

{#        </div>#}
    </header>

    <section class="content">
            <section class="content_left">
                <section class="navigation">
                    <!-- Main -->
                    <div class="navigation__list">
                        <div class="navigation__list__header__title" >
                           Gang-Band
                        </div>
                        <div class="navigation__account_section">
                            <div class="navigation__list__header" role="button" data-toggle="collapse" href="#main" aria-expanded="true" aria-controls="main">
                                <i class="fas fa-user"></i> Compte
                            </div>

                            {% if app.user is defined and app.user is not null  %}
                                <div class="navigation__list__item">
                                    <img src="../img/user.jpg" alt="Avatar" class="round-img">
                                    {{ app.user.username }}
                                </div>

                                <div class="navigation__list__item">
                                    <a href="/logout">
                                        <button class="btn-accent" >
                                            Déconnexion
                                        </button>
                                    </a>
                                </div>

                            {% else %}
                                <div class="navigation__list__item">
                                    <a href="/register">

                                        <button class="btn-accent outlined">
                                            Inscription
                                        </button>
                                    </a>
                                    <a href="/login">
                                        <button class="btn-accent" >
                                            Connexion
                                        </button>
                                    </a>
                                </div>

                            {% endif %}
                        </div>

                        {#<div class="navigation__list__header" role="button" data-toggle="collapse" href="#main" aria-expanded="true" aria-controls="main">
                            Main <i class='fa fa-angle-down'></i>
                        </div>#}

                        <div class="collapse in" id="main">

                            <a href="/" class="navigation__list__item">
                                <i class="fa fa-home"></i>
                                <span>Accueil</span>
                            </a>

                            <a href="/riff/add" class="navigation__list__item">
                                <i class="fa fa-plus"></i>
                                <span>Créer un son</span>
                            </a>

                            <a href="/instrument" class="navigation__list__item">
                                <i class='fas fa-guitar'></i>
                                <span>Instruments</span>
                            </a>

                            <a href="/categorie" class="navigation__list__item">
                                <i class="fas fa-bookmark"></i>
                                <span>Catégories</span>
                            </a>

                        </div>

                    </div>
                </section>
{#                <button class="btn-accent">#}
{#                    Get le Git#}
{#                </button>#}



            </section>

            <section class="content_middle">
                {% block body %}{% endblock %}
            </section>
        </section>
    </body>

</html>
