<!DOCTYPE html>
<html>
    <head>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/global.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <header>
    </header>
    <body>


    <section class="content">
            <section class="content_left">

                <section class="navigation" style="height: 270px;">

                    <!-- Main -->
                    <div class="navigation__list">

                        <div class="navigation__list__header" role="button" data-toggle="collapse" href="#main" aria-expanded="true" aria-controls="main">
                            Main
                        </div>

                        <div class="collapse in" id="main">

                            <a href="#" class="navigation__list__item">
                                <i class='fab fa-500px'></i>
                                <span>Browse</span>
                            </a>

                            <a href="#" class="navigation__list__item">
                                <i class='fab fa-500px'></i>
                                <span>Activity</span>
                            </a>

                            <a href="#" class="navigation__list__item">
                                <i class='fab fa-500px'></i>
                                <span>Radio</span>
                            </a>

                        </div>

                    </div>
                </section>
            </section>
            <section class="content_middle">
                {% block body %}{% endblock %}
            </section>
        </section>
    </body>

</html>
